{% if user %}
    <!-- Nav Item - Dashboard -->
    <li class="nav-item text-uppercase">
        <a class="nav-link" href='#'>
            <i class="fas fa-th-large"></i>
            <span>Web Dashboard</span>
        </a>
    </li>
{% endif %}
<!-- Nav Item - Dashboard -->
<li class="nav-item text-uppercase">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseFreq" aria-expanded="false" aria-controls="collapseFreq">
        <span>Frequency</span>
    </a>
    <div id="collapseFreq" class="collapse" aria-labelledby="headingFreq" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{{ url_for('createRawFreq') }}">Create Frequency</a>
        <a class="collapse-item" href="{{ url_for('createDerFreq') }}">Create Derived <br/>Frequency</a>
        <a class="collapse-item" href="{{ url_for('derivedFreq.displayDerivedFrequency') }}">Show Daily <br/>Frequency</a>
        </div>
    </div>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseVolt" aria-expanded="false" aria-controls="collapseVolt">
        <span>Voltage</span>
    </a>
    <div id="collapseVolt" class="collapse" aria-labelledby="headingVolt" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{{ url_for('createRawVolt') }}">Create Voltage</a>
        <a class="collapse-item" href="{{ url_for('createDerVolt') }}">Create Derived <br/>Voltage</a>
        <a class="collapse-item" href="{{ url_for('createDerVdi') }}">Create Derived VDI</a>
        </div>
    </div>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseOutages" aria-expanded="false" aria-controls="collapseOutages">
        <span>Outages</span>
    </a>
    <div id="collapseOutages" class="collapse" aria-labelledby="headingOutages" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{{ url_for('majorGenOutages.displayMajorGenOutages') }}">Show Major <br/>Generator Outages</a>
        <a class="collapse-item" href="{{ url_for('transOutages.displayTransOutages') }}">Show Transmission <br/>Outages</a>
        <a class="collapse-item" href="{{ url_for('longUnrevForcedOutages.displayLongUnrevForcedOutages') }}">Show Long Time <br/>Unrevived Forced <br/>Outages</a>
        <a class="collapse-item" href="{{ url_for('outages.displayOutages') }}">Show all Outages</a>
        <a class="collapse-item" href="{{ url_for('createRawOutages.createRawOutages') }}">Create Outages</a>
        </div>
    </div>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="{{ url_for('createTransmissionConstraints') }}">
        <i class="fas fa-th-large"></i>
        <span>Transmission Constraints</span>
    </a>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="{{ url_for('createIctConstraints') }}">
        <i class="fas fa-th-large"></i>
        <span>ICT Constraints</span>
    </a>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="{{ url_for('createHighVoltageNodes') }}">
        <i class="fas fa-th-large"></i>
        <span>High Voltage Nodes</span>
    </a>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="{{ url_for('createLowVoltageNodes') }}">
        <i class="fas fa-th-large"></i>
        <span>Low Voltage Nodes</span>
    </a>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseIViol" aria-expanded="false" aria-controls="collapseIViol">
        <span>IEGC Violation Msgs</span>
    </a>
    <div id="collapseIViol" class="collapse" aria-labelledby="headingIViol" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{{ url_for('createIegcViolMsgs') }}">Create IEGC <br/>Violation Msgs</a>
        <a class="collapse-item" href="{{ url_for('iegcViolMsgs.displayIegcViolMsgs') }}">Show IEGC <br/>Violation Msgs</a>
        </div>
    </div>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="{{ url_for('createRawPairAngles') }}">
        <i class="fas fa-th-large"></i>
        <span>Pair Angles</span>
    </a>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseWReps" aria-expanded="false" aria-controls="collapseWReps">
        <span>Weekly Reports</span>
    </a>
    <div id="collapseWReps" class="collapse" aria-labelledby="headingWReps" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{{ url_for('weeklyReports.createWeeklyReport') }}">Create Weekly Reports</a>
        <a class="collapse-item" href="{{ url_for('weeklyReports.showWeeklyReports') }}">Show Weekly Reports</a>
        </div>
    </div>
</li>
