{% extends "layoutBase.html.j2" %}
{% block title %}View Outages{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
{% if res %}
<div id='respDiv' class="item align-content-center mt-3">
<p> msg: {{res}} </p>
<div id='resDiv' class=" mt-3">
    <table id="genOutages" class="table table-bordered table-hover display w-auto" style="width:100%">
        <thead>
            <tr>
                <th>Unit</th>
                <th>Constituent/IPP</th>
                <th>Capacity MW</th>
                <th>From time</th>
                <th>From Date</th>
                <th>To Time</th>
                <th>To Date</th>
                <th>Reason</th>
            </tr>
        </thead>    
        <tbody>
            {% for item in res.message %}
            <tr>
                <td>{{item.elName}}</td>
                <td>{{item.owners}}</td>
                <td>{{item.capacity}}</td>
                <td>{{item.outageTime}}</td>
                <td>{{item.outageDate}}</td>
                <td>{{item.revivalTime}}</td>
                <td>{{item.revivalDate}}</td>
                <td>{{item.reason}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>


{% else %}
<h1>View Outages stored in MIS Warehouse</h1>
<div class="item align-content-center">
<form method="POST">
    <input id="startDate" type="date" name="startDate">
    <input id="endDate" type="date" name="endDate" placeholder="yyyy-mm-dd">
    <input type="submit" value="View Outage">
</form>
</div>  
{% endif %}
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/datatables.net-dt/css/jquery.dataTables.min.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script>
        $(document).ready(function() {
        $('#derivedFrequency').DataTable();
        } );
    </script>
{% endblock %} 